---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center font-medium">
  <span class="text-xl uppercase text-secondaty bg-primary px-6 py-1 mb-9">
    Presentación de la
  </span>
  <HeroLogo />
</section>
