<section
  class="mt-32 mx-auto flex flex-col justify-center items-center text-center text-primary">
  <h2 class="uppercase text-5xl font-semibold">
    4 de marzo <span aria-hidden class="hiden md:inline mx-1">.</span><br
      aria-hidden
      class="block md:hidden"
    /> 19:00 CET
  </h2>
  <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
    <span>Evento de Presentación</span>
    <span>Teatro Victoria (Barcelona)</span>
  </h3>
  <a
    class="border-primary border-2 font-medium text-lg uppercase mt-8 px-4 py-1 hover:bg-secondaty hover:scale-125 transition inline-block"
    href="https://www.teatrevictoria.com/es/cartelera/c/190_la-velada-del-ano-4.html"
    target="_blank"
    rel="noopener noreferrer">
    Entradas agotadas
  </a>
</section>
